<!DOCTYPE html><html><head>
  <meta charset="utf-8">
  <title>UniPay</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.png">

  <!-- Web Fonts -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">
<link rel="stylesheet" href="styles.6aa10e18c666eef65d01.css"></head>
<body>
  <div class="wrapper">
    <app-root>Loading...</app-root>
  </div>
  <!-- <script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
		});
	</script> -->


<script type="text/javascript" src="runtime.6afe30102d8fe7337431.js"></script><script type="text/javascript" src="polyfills.28c250f691b719a73a40.js"></script><script type="text/javascript" src="scripts.3a5ccbcccbb20083c0fc.js"></script><script type="text/javascript" src="main.4e2cf23f79fc6241fa17.js"></script></body></html>