
<div class="top-nav hidden-sm-down">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <ul class="top-list">
        <li><i class="fa fa-map-marker"></i> SBFZ, Olongapo, Philippines</li>
        <li><i class="fa fa-phone"></i> (+63) 915 280 8814</li>
        <li><i class="fa fa-envelope-o"></i> <a href="">rejdabu@gmail.com</a></li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
      <ul class="top-list-right">
        <li *ngIf="!_authService.loggedIn()"><a [routerLink]="['/login']">Client Login</a></li>
        <li *ngIf="_authService.loggedIn()"><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <!-- <li><a [routerLink]="['/profile']">Profile</a></li> -->
        <li><a [routerLink]="['/aboutus']">About Us</a></li>
        <li><a [routerLink]="['/support']">Support</a></li>
        <li *ngIf="_authService.loggedIn()"><a (click)="onLogoutClick()" href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<nav class="navbar navbar-toggleable-md navbar-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/']"><h3><span><i>Pay</i></span><span>PH</span></h3></a>
</nav>

