<footer>
  <div class="row">
    <div class="col-3 col-lg-3 col-md-3">
      <span><h4><i>Pay</i>.PH</h4> &copy; copyright 2017</span>
      <p>Financial Services for All<br/>Manage Payments in One Place</p>
    </div>
    <div class="col-3 col-lg-3 col-md-3">
      <h5>Company</h5>
      <ul class="menu vertical">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </div>
    <div class="col-3 col-lg-3 col-md-3">
      <h5>Support</h5>
      <ul class="menu vertical">
        <li><a href="#">Knowledgebase</a></li>
        <li><a href="#">Support Forum</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Ticket System</a></li>
      </ul>
    </div>
    <div class="col-3 col-lg-3 col-md-3">
      <img src="../../../assets/img/truste-seal.png">
    </div>
  </div>
</footer>