@import '../../../settings.scss';

footer {
  padding: 40px 20px;
  background: $black;
  color: $white;
  margin-top: 20px;

  .menu {
      list-style: none;
      color: $white;
      padding: 0;
  }
}