<section class="showcase">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1">
        <div class="tagging">
          <h1>Financial Services for All</h1>
          <h2>Manage Payments in One Place</h2>
          <div class="button">
            <a href="" class="btn btn-primary btn-animated">GET STARTED</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 hidden-md-down">
        <div class="row">
          <div class="col-md-11">
            <div class="showcase-box">
              <h1>It's convenient</h1>
              <h3>Buy Load, Pay Bills, and Send or Receive money from anyone</h3>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <p>Take extra time with your morning coffee, and skip the lines. 
                    We'll do the rest for you.</p>
                </div>
              </div>
            </div>

            <div class="showcase-box-bottom">
              <div class="row">
                <div class="col-sm-5">
                  <div class="pricing">
                    <span>FREE</span>
                    <span class="reg">REGISTRATION</span>
                  </div>
                </div>
                <div class="col-sm-7">
                  <!--<h5 class="start-link"><a href=""><i class="fa fa-arrow-circle-right"></i>Get Started Now!</a></h5>-->
                  <p>Extra Income</p>
                  <ul>
                    <li>Get 4% back for every load purchase</li>
                    <li>Earn 5 Php and UP for every bill transaction.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>
