<section class="showcase">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1">
        <div class="tagging">
          <h1>Financial Services for All</h1>
          <h2>Manage Payments in One Place</h2>
          <div class="button">
            <a href="" class="btn btn-primary btn-animated">GET STARTED</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 hidden-md-down">
        <div class="row">
          <div class="col-md-11">
            <div class="showcase-box">
              <h1>It's convenient</h1>
              <h3>Buy Load, Pay Bills, and Send or Receive money from anyone</h3>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <p>Skip the lines! Take extra time with your morning coffee. 
                    We'll do the rest for you.</p>
                </div>
              </div>
            </div>

            <div class="showcase-box-bottom">
              <div class="row">
                <div class="col-sm-5">
                  <div class="pricing">
                    <span>FREE</span>
                    <span class="reg">REGISTRATION</span>
                  </div>
                </div>
                <div class="col-sm-7">
                  <!--<h5 class="start-link"><a href=""><i class="fa fa-arrow-circle-right"></i>Get Started Now!</a></h5>-->
                  <p>Extra Income</p>
                  <ul>
                    <li>Get 4% back for every load purchase</li>
                    <li>Earn 5 Php and UP on top of every bill transaction.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="packages">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12">
        <h3 class="text-center">Manage Payments in One Place</h3>
        <p class="text-center">Maaaring tumanggap ng bayad sa kuryente, tubig, e-load, government bills, at marami pang iba mula sa iyong mga kapitbahay.</p>
      
        <div class="card-deck">
          <div class="card p-box-1 text-center">
            <div class="card-block">
              <h3 class="card-title">Load? Buy</h3>
              <p class="card-text">Earn 4% back every time you load up</p>
              <i class="fa fa-mobile" aria-hidden="true"></i>

              <ul class="features">
                <li>Smart and TNT</li>
                <li>Globe and TM</li>
                <li>Sun Cellular</li>
              </ul>
              <a href="" class="btn btn-primary btn-block">Read More...</a>
            </div>
          </div>
          <div class="card p-box-2 text-center">
            <div class="card-block">
              <h3 class="card-title">Bills? Paid</h3>
              <p class="card-text">Pay bills to 70+ providers, all in one place</p>
              <i class="fa fa-rub" aria-hidden="true"></i>

              <ul class="features">
                <li>Meralco</li>
                <li>Maynilad</li>
                <li>CignalTV</li>
              </ul>
              <a href="" class="btn btn-success btn-block">Read More...</a>
            </div>
          </div>
          <div class="card p-box-3 text-center">
            <div class="card-block">
              <h4 class="card-title">Remittance? Send</h4>
              <p class="card-text">How should we send the money?</p>
              <i class="fa fa-paper-plane" aria-hidden="true"></i>

              <ul class="features">
                <li>Cebuana Lhuiller</li>
                <li>Security Bank</li>
                <li>GCash</li>
              </ul>
              <a href="" class="btn btn-warning btn-block">Read More...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-a">
  <h2>Featured Payment Options</h2>
  <div class="col-12 text-center logogroup">
    <img src="../../../assets/img/mle-pay-logo.png" height="36" alt="MLE Pay">
    <img src="../../../assets/img/7-eleven-logo.png" height="48" alt="7-Eleven">
    <img src="../../../assets/img/cebuana.png" height="48" alt="Cebuana Lhuillier">
    <img src="../../../assets/img/ecpay-logo.png" height="36" alt="ECPay">
  </div>
</section>

<section class="section-c">
  <div class="row">
    <div class="col-3 col-md-3">
      <i class="fa fa-shield" aria-hidden="true"></i>
      <h4>Secure</h4>
    </div>
    <div class="col-3 col-md-3">
      <i class="fa fa-flash" aria-hidden="true"></i>
      <h4>Fast</h4>
    </div>
    <div class="col-3 col-md-3">
      <i class="fa fa-gears" aria-hidden="true"></i>
      <h4>Stable</h4>
    </div>
    <div class="col-3 col-md-3">
      <i class="fa fa-user" aria-hidden="true"></i>
      <h4>Reliable</h4>
    </div>
  </div>
</section>
